 url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}






body{
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
font-family: 'Ramabhadra', sans-serif;
}
h1{
    font-size: 50px;

    
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color:orange
}
.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 1%;

}
.half-width img{
    width: 100%;

}
.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;   
    font-weight: 700;

}
}  
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height:80%;
    background-color: white;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
   
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

.previous{
    text-align: left;
}
.gallery{
    width: 40%;
    margin-left: 10%;
   


}
.games{
    width: 70%;
    margin-left: 5%;
    padding-left: 3%;
    margin-top: 20%;
    position: sticky;
}
