@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
    padding: 20px 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: #ff7f00;
}

h2 {
    font-size: 40px;
    color: #ff00ff;
}

p {
    color: #aaff00;
}

.orange-highlight {
    color: #ff4500;
}

.half-width {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.section {
    padding: 50px 0;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff6347, #ffa500);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience {
    background-color: #00ffff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ff6347, #ffa500);
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0000ff, #00ffff);
    border-image-slice: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.desc {
    text-align: center;
}
